
select option {
    background-color: #ffffff;
    color: #111827;
}


select option:hover {
    background-color: #d1fae5;
}

select option:checked {
    background-color: #10b981;
    color: #ffffff;
}


@import "tailwindcss";